# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
*.birdwatcher-env
env/
venv/
birdwatcher-env/
*.egg-info/
dist/
build/

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test/coverage
htmlcov/
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover

# Misc
*.sqlite3

videos/